[Unit]
Description=sspanel trojan-go
After=network.target trojan-go.service
Wants=network.target trojan-go.service

[Service]
Type=simple
#User=nobody
ExecStart=python3 /root/sspanel-trojan-go-1/main.py --config /root/sspanel-trojan-go-1/config.ini
Restart=on-failure

[Install]
WantedBy=multi-user.target
